.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.result-card {
  border: 2px solid #574f7d;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #a2b7c6;
  box-shadow: 5px 5px 20px #433d61;
}
.result-card img {
  padding-bottom: 10px;
}
.result-card p {
  max-height: 200px;
  overflow-y: scroll;
}

.header {
  padding: 10px;
}

#apiForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #574f7d;
  border-radius: 50px;
  height: 50px;
  min-width: 360px;
  justify-content: space-between;
}
.search-box * {
  border: none;
  background: transparent;
}
.search-box input {
  font-style: italic;
  padding: 10px;
  width: 90%;
  outline: none;
  font-size: 16px;
}
.search-box input::placeholder {
  color: #95adbe;
  font-size: 16px;
}
.search-box button {
  color: #95adbe;
  padding: 20px;
}
.search-box button:hover {
  cursor: pointer;
}
.search-box button:active {
  color: #202c34;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Arial Narrow", Arial, sans-serif;
}

html {
  background-color: #95adbe;
  color: #393838;
}
