@use  "media" as media;

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media.mobile {
        grid-template-columns: 1fr;
    }

    @include media.tablet {
        grid-template-columns: 1fr 1fr;
    }
}